<html>
  <head>
    <title>{% block title %}缺省标题{% end %}</title>
    {% block js %}{% end %} 
  </head>
  <body>
    <table border=1 width=80%>
      <tr style="height=100px;">
        <td colspan=2>header</td> </tr>
      <tr >
        <td style='width:10em'>菜单
        <ul>
          <li><a href="/">返回主页</a></li>
          <li><a href="/coulist">学生名单</a></li>
        </ul>
        </td>
        <td>
        {% block content %}
        {% end %}          
        </td>
      </tr>
    </table>
  </body>
</html>